<nav class="main-nav">
    <input type="checkbox" name="nav" id="nav">  
    <span class="item">
        <a href="{{ site.url }}">{{ site.title }}</a>
    </span>
    <ul class="navigation">
      {% assign navigation_pages = site.html_pages | sort: 'weight' %}
      {% for p in navigation_pages %}
        {% if p.weight %}
          <li class=".item">
            <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
              {{ p.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>