
<form name="contact"  method="POST" data-netlify="true">
  <p>
    <label>Teamname <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Spieler*in 1 <input type="text" name="player1" /></label>
  </p>
  <p>
    <label>Spieler*in 2 <input type="text" name="player2" /></label>
  </p>
  <p>
    <label>Spieler*in 3 <input type="text" name="player3" /></label>
  </p>
  <p>
    <label>Spieler*in 4 <input type="text" name="player4" /></label>
  </p>
  <p>
    <label>Spieler*in 5 <input type="text" name="player5" /></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>