.twitch {
    display: none;
    background: green;
    a {
        text-decoration: none;
        padding: 1rem 2rem;
        display: block;
    }
}

.home {
    margin-top: 3rem;
    h2 {
        padding: 0 1rem;
        letter-spacing: .1rem;

    }
}

article {
    color:white;
    border-radius: 5px;
    margin-bottom: 2rem;
    a {
        color: white;
        text-decoration: none;
        font-weight: 700;
    }
    .yt-container {
        position: relative;
        padding-bottom: 53.5%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
 
}