---
---


@import '_nav';
@import '_animation';
@import '_home';


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
* {
    box-sizing: border-box;
}

html {
    background: #17001A;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 5rem;
    color: white;
}

.wrapper {
    overflow-x: hidden;
}

a {
    color: white;
}

img {
    max-width: 100%;
}

.btn {
    background: #620062;
    text-transform: uppercase;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    border-radius: 4px;
    letter-spacing: .025rem;
    padding: 0 .8rem;
    font-size: 1rem;
    border: none;
    color:white;
    font-weight: 600;
}